<!DOCTYPE html>
<html lang="en">
<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type">
    <title>Buzz</title>
    <link rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.css" />
</head>
<body>

<header></header>
<main></main>

<footer></footer>

<script id="tmpl-header" type="text/html">
    <a href="#!/">Home</a> |
    <a href="#!/events/">Events</a> |

    <% if (signedIn) { %>
        <a href="" id="signout">Sign Out</a>
    <% } %>
</script>

<script id="tmpl-home" type="text/html">
    <p>Home</p>
</script>

<script id="tmpl-section" type="text/html">
    <p>Section</p>
    <p><%= section %></p>
</script>

<script id="tmpl-signin" type="text/html">
    <p>Sign In</p>
</script>

<script id="tmpl-events" type="text/html">
    <p>Events</p>
    <p><%= data %></p>
</script>

<script id="tmpl-footer" type="text/html">
    <p>&copy;<%= year %></p>
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.underscore.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase.js"></script>
<script src="https://www.gstatic.com/firebasejs/ui/live/0.5/firebase-ui-auth.js"></script>

<script>
(function () {
    'use strict';
    var app = {};
    var config = {
      apiKey: "AIzaSyBAJ0hAVxv9FQVGTOf7LG5cjVuoaiqpT8s",
      authDomain: "buzz-proto.firebaseapp.com",
      databaseURL: "https://buzz-proto.firebaseio.com",
      storageBucket: "",
      messagingSenderId: "471035708539"
    };

    firebase.initializeApp(config);

    app = {
        preRoute: function (el) {
            el.unbind().empty();
        },
        headerView: Backbone.View.extend({
            el: $('header'),
            events: {
                'click #signout' : 'signout'
            },
            signout: function (ev) {
                ev.preventDefault();

                firebase.auth().signOut().then(function() {
                    app.router.navigate('!/signin/', {trigger: true});
                }, function(error) {
                    console.error(error);
                });
            },
            initialize: function () {
                var signedIn = false;
                var that = this;
                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        signedIn = true;
                    } else {
                        signedIn = false;
                    }
                    $(that.el).html(_.template($('#tmpl-header').html(), {
                        signedIn: signedIn
                    }));
                }, function(error) {
                    console.error(error);
                });
            }
        }),
        footerView: Backbone.View.extend({
            el: $('footer'),
            initialize: function () {
                var date = new Date(),
                    year = date.getFullYear();

                $(this.el).html(_.template($('#tmpl-footer').html(), {
                    year: year
                }));
            }
        }),
        homeView: Backbone.View.extend({
            initialize: function () {
                $(this.el).html(_.template($("#tmpl-home").html(), {}));
            }
        }),
        sectionView: Backbone.View.extend({
            initialize: function (options) {
                this.options = options;
                $(this.el).html(_.template($('#tmpl-section').html(), {
                    section: this.options.section
                }));
            }
        }),
        signinView: Backbone.View.extend({
            initialize: function (options) {

            }
        }),
        eventsView: Backbone.View.extend({
            initialize: function (options) {
                var that = this;
                firebase.auth().onAuthStateChanged(function(user) {
                    if (user) {
                        console.log(user);
                        $(that.el).html(_.template($('#tmpl-events').html(), {
                            data: {}
                        }));

                    } else {
                        window.location = '/signin/';
                    }
                }, function(error) {
                    console.error(error);
                });
            }
        }),
        router: Backbone.Router.extend({
            el : $('main'),
            routes: {
                '': 'home',
                '!/': 'home',
                '!/section/:section/': 'section',
                '!/signin/': 'signin',
                '!/events/': 'events',
            },
            initialize: function () {
                Backbone.history.start();
                var headerView = new app.headerView(),
                    footerView = new app.footerView();
            },
            home: function () {
                app.preRoute(this.el);
                var homeView = new app.homeView({ el: this.el });
            },
            section: function (section) {
                app.preRoute(this.el);
                var sectionView = new app.sectionView({ el: this.el });
            },
            signin: function (section) {
                app.preRoute(this.el);
                var signinView = new app.signinView({ el: this.el });
            },
            events: function (section) {
                app.preRoute(this.el);
                var eventsView = new app.eventsView({ el: this.el });
            },
        })
    };

    $(function () {
        app.router = new app.router();

        var initApp = function() {
            firebase.auth().onAuthStateChanged(function(user) {
                // User is signed in.
                if (user) {
                    console.log('zzz', user)
                    // user.getToken().then(function(accessToken) {
                    //     console.log(accessToken)
                    // });
                } else {
                    // window.location = '/signin/';
                    // app.router.navigate('!/', {trigger: true});
                }
            }, function(error) {
                console.log(error);
            });
        };

        window.addEventListener('load', function() {
          initApp();

        });

    });
}());
</script>
</body>
</html>
