
.event-list-item {
    display: block;
    margin: 0 0 4px;
    text-decoration: none;
    height: 200px;
    font-size: 0;
    background: #000;
    background-size: cover;
}

.event-list-item.c--party {
    background-image: url(/assets/img/party.jpg);
}

.event-list-item.c--shop {
    background-image: url(/assets/img/shop.jpg);
}

.event-list-item.c--study {
    background-image: url(/assets/img/study.jpg);
}

.event-list-item.c--food {
    background-image: url(/assets/img/food.jpg);
}

.event-list-item.c--sport {
    background-image: url(/assets/img/sport.jpg);
}

.event-list-item__left {
    display: inline-block;
    width: 50%;
    height: 200px;
    font-size: 13px;
    padding: 10px;
    vertical-align: top;
    color: #fff;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    background: rgba(0, 0, 0, 0.4);
}

.event-list-item__left .fa {
    font-size: 20px;
    margin: 0 0 5px;
}

.event-list-item__right {
    display: inline-block;
    width: 50%;
    height: 200px;
    line-height: 300px;
    font-size: 40px;
    text-transform: uppercase;
    color: #fff;
    vertical-align: top;
    text-align: center;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.2)
}

.event-list__no-events p {
    text-align: center;
    margin: 80px 0 30px;
    color: #bbb;
}

.event-list__no-events .btn {
    display: block;
    width: 160px;
    margin: auto;
}
